/**
 * sass mixins: BOX MODEL
 *
 * @section 	sass-mixins
 * @subsection 	box-model
 * @author 		Jake Bresnehan
 * @see			https://github.com/web-design-weekly/sass-mixins
 */

/**
 * BOX SIZING
 * example usage:
 * 		*,
 *		*:after,
 *		*:before {
 *			@include box-sizing(border-box);
 *		}
 */
@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
     -moz-box-sizing: $box-model; // Firefox <= 19
          box-sizing: $box-model;
}

/**
 * Center-align a block level element
 * example usage:
 * 	.footer-wrap {
 *  	width: 450px;
 *   	@include center-block;
 *  }
 */
@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/**
 * Cross browser inline block
 * example usage:
 * 	.icon {
 *  	@include inline-block();
 *  }
 */
@mixin inline-block() {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
